[Unit]
Description=BeaconBox Web Server
After=network.target beaconbox-net.service

[Service]
ExecStart=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Restart=on-failure

[Install]
WantedBy=multi-user.target
